<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h4>You have been here for <%= @count %> times</h4>
<h1><%= t('.title_html') %></h1>
<% cache ['store', Product.latest] do %>
<% @products.each do |product| %>
<% cache ['entry', product] do %>
  <div class="entry">
    <%= link_to(image_tag(product.image_url), line_items_path(:product_id => product), html_options = {:method => :post}) %>
    <h3><%= product.title %></h3>
    <h6><%= sanitize(product.description) %></h6>
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price) %></span>
      <%= button_to t('.add_html') , line_items_path(product_id: product,price: product), remote: true %>
    </div>
  </div>
   </br>
   <div>

   </div>

  <%end%>
<% end %>

<%end%>